.container {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  background: #fdfdfd;
  border: 2px solid #000000;
  border-radius: 6px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text {
  width: 220px;
  height: 24px;
  font-family: 'Bitter', serif;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  width: 80px;
  height: 40px;
  border-radius: 4px;
  background: #000000;

  color: #e3ebf0;
  transition: background 0.3s ease, border 0.3s ease;
}

.iconAndText {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.icon {
  fill: #000000;
  width: 24px;
  height: 24px;
}

@keyframes flyIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.flyIn {
  animation: flyIn 0.5s ease-out;
}
